/* .mirar-cover{
    width:100%;
    min-height:300px;
}

.top_cover{
}

.account-verified{
    width: 25%;
    position:absolute;
    right:10%;
    top:25%;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
}

.mirar-logo{
    width: 80%;
    height:90%;
}


.account-verified-text{
    padding:10px 20px;
    font-size:56px;
    color:white;
}

.bottom-text-container{
    z-index:2;
    width:60%;
    margin: 30px auto 10px;
    text-align:center;
}

.bottom_text{
    padding: 0 20px;
    font-size:40px;
    font-weight:400;
}


.app_button{
    color:white;
    margin-top: 40px;
    border-radius:40px;
    padding: 20px 20px;
    border:none;
    width:300px;
    background: linear-gradient(155deg, #0832db, #08e1e1) !important;
}

.app_button a{
    color:white;
    font-size:27px;
} */

.image_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mirar-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 20px 20%;
}

.mirar_container {
  position: absolute;
  top: 10%;
  right: 20%;
  height: 300px;
  width: 300px;
  text-align: center;
}

.mirar-logo {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.account-verified-text {
  padding: 10px 20px;
  font-size: 56px;
  color: white;
}

.bottom_text {
  padding: 0 20px;
  font-size: 40px;
  font-weight: 400;
}

.app_button {
  margin: auto;
  color: white;
  margin-top: 40px;
  border-radius: 40px;
  padding: 20px 20px;
  border: none;
  width: 300px;
  background: linear-gradient(155deg, #0832db, #08e1e1) !important;
}

.app_button a {
  color: white;
  font-size: 27px;
}

/* Mobile version  */

.mobile_varient {
  display: none;
}

.mobile_top_cover {
  width: 100%;
  overflow: hidden;
  height: auto;
  position:relative;
}
.mobile-mirar-cover{
    height: 80%;
    width:100%;
    object-fit:cover;
}

.mobile_verified{
    width:200px;
    margin:0 auto;
    height:200px;
    position:absolute;
    top:10px;
    left:0;
    right:0;
    /* left:25%; */
    text-align:center;
    color:white;
}

.mobile_mirar_logo{
    height:80%;
    width:100%;
    object-fit:contain;
}

.mobile_verified_text{
  padding: 0px 20px;
  font-size: 18px;
  color: white;

}

.mobile_text-container{
    margin:20px 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.mobile_bottom_text{
    width:80%;
    text-align:center;
}

.mobile_app_button{
  margin: auto;
  color: white;
  margin-top: 40px;
  border-radius: 40px;
  padding: 20px 20px;
  border: none;             
  width: 150px;
  background: linear-gradient(155deg, #0832db, #08e1e1) !important;
}

.mobile_app_button a{
    color:white;
    font-size:20px;
}

@media (max-width: 800px) and (min-width: 545px) {
  .mirar_container {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 250px;
    width: 250px;
  }

  .mirar-logo {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
  .account-verified-text {
    padding: 10px 20px;
    font-size: 40px;
    color: white;
  }

  .bottom_text {
    font-size: 25px;
  }

  .app_button {
    width: 200px;
  }

  .app_button a {
    color: white;
    font-size: 18px;
  }
}

@media (max-width: 544px) {
  .laptop_varient {
    display: none;
  }
  .mobile_varient {
    display: block;
  }
}


.error_box{
    width: 300px;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:auto auto;
    margin-top:10%;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* @media (min-width:1200px) {
    .account-verified{
        width: 20%;
    }
    .top_cover{
    }
    
} */



.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.wc_top{
    height:100vh;
    width:100vw;
    background:linear-gradient(240deg,#9DE68C,#63B459);
    display:flex;
    justify-content:space-between;
    padding: 8% 7% 0;
}

.wc_top img{
    height:80%;
    align-self:flex-end;
}

.wc_welcome{
    padding-top:50px;
    width:30%;
    height:80%;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.wc_welcome img{
    widht:80%;
    height:80%;
    margin:auto;
}

.wc_content{
    padding:2% 12%;
    text-align:center;
}

.wc_content div{
    padding: 0 20px;
}

.wc_content div p{
    font-size:20px;
    width:75%;
    margin:auto;
    padding: 15px 0;
    font-weight:300;
}

.wc_content div div{
    padding: 5px 0 20px;
}

.wc_content div div button{
    color:white;
    margin-top: 40px;
    border-radius:40px;
    padding: 20px 20px;
    border:none;
    width:300px;
    background: linear-gradient(155deg, #0832db, #08e1e1) !important;
    font-size:20px;
}


@media (max-width:1023px) {
    .wc_top{
        height:60vh;
    }
    .wc_top img{
        position: static;
        height:60%;

    }
    
}

@media (max-width:800px) {
    /* .bottom-text-container{
        width:90%;
    }
    .bottom_text{
        font-size:25px;
    }

    .app_button{
        width:250px;
    }
    .account-verified{
        top:1%;
    }
    .account-verified-text{
        font-size:35px;
    }

    .mirar-logo{
        height:150px;
        width:150px;
    }
    .app_button{
        margin-top:20px;
    } */
    .wc_content div div button{
        width:250px;
    }

    .wc_content{
        padding:4% 0%;
    }
    .wc_content div p{
    font-size:20px;
    width:75%;
    margin:auto;
    padding: 10px 0;
    font-weight:300;
}
    
}

@media (max-width:390px) {
    /* .mirar-logo{
        height:100px;
        width:100px;
    }
    .account-verified-text{
        font-size:20px;
    } */
    .wc_content div p{
        font-size:15px;
    }
    .wc_content div div button{
    font-size:15px;
}
    
}

.image_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mirar-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 20px 20%;
}

.mirar_container {
  position: absolute;
  top: 10%;
  right: 20%;
  height: 300px;
  width: 300px;
  text-align: center;
}

.mirar-logo {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.account-verified-text {
  padding: 10px 20px;
  font-size: 56px;
  color: white;
}

.bottom_text {
  padding: 0 20px;
  font-size: 40px;
  font-weight: 400;
}

.app_button {
  margin: auto;
  color: white;
  margin-top: 40px;
  border-radius: 40px;
  padding: 20px 20px;
  border: none;
  width: 300px;
  background: linear-gradient(155deg, #0832db, #08e1e1) !important;
}

.app_button a {
  color: white;
  font-size: 27px;
}

/* Mobile version  */

.mobile_varient {
  display: none;
}

.mobile_top_cover {
  width: 100%;
  overflow: hidden;
  height: auto;
  position:relative;
}
.mobile-mirar-cover{
    height: 80%;
    width:100%;
    object-fit:cover;
}

.mobile_verified{
    width:200px;
    margin:0 auto;
    height:200px;
    position:absolute;
    top:10px;
    left:0;
    right:0;
    /* left:25%; */
    text-align:center;
    color:white;
}

.mobile_mirar_logo{
    height:80%;
    width:100%;
    object-fit:contain;
}

.mobile_verified_text{
  padding: 0px 20px;
  font-size: 18px;
  color: white;

}

.mobile_text-container{
    margin:20px 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.mobile_bottom_text{
    width:80%;
    text-align:center;
}

.mobile_app_button{
  margin: auto;
  color: white;
  margin-top: 40px;
  border-radius: 40px;
  padding: 20px 20px;
  border: none;             
  width: 150px;
  background: linear-gradient(155deg, #0832db, #08e1e1) !important;
}

.mobile_app_button a{
    color:white;
    font-size:20px;
}

@media (max-width: 800px) and (min-width: 545px) {
  .mirar_container {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 250px;
    width: 250px;
  }

  .mirar-logo {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
  .account-verified-text {
    padding: 10px 20px;
    font-size: 40px;
    color: white;
  }

  .bottom_text {
    font-size: 25px;
  }

  .app_button {
    width: 200px;
  }

  .app_button a {
    color: white;
    font-size: 18px;
  }
}

@media (max-width: 544px) {
  .laptop_varient {
    display: none;
  }
  .mobile_varient {
    display: block;
  }
  .error_box{
    height: 85vh;
}

}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* take full viewport height */
  background: #f7f7f7; /* or any color you want */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db; /* blue top */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* spin keyframes */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
