.link{
    margin: 10px 20px;
    position: relative;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.link_content{
    width: 45%;
    /* position: absolute;
    left:20px; */
    padding: 5px;
    border-radius: 20px;
    min-height: 100px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_images{
    width: 45%;
    /* right:20px;
    position: absolute; */
    padding: 5px;
    min-height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.images{
    
    height: 75px;
    width: 75px;
    margin:10px;
}

.blurred_image{
    opacity: 0.4;
}

.BUTTON{
    display: flex;
    justify-content: center;
    align-items: center;
}

.starting_button{
    width: 100px;
    border-radius: 40px;
    padding: 10px;;
    background:linear-gradient(#74e5e6,#367fea);
    margin-bottom: 20px;
}

.profile_image{
    border-radius: 50%;
    border:2px solid white;
    position: absolute;
    top:145px;
    margin-left: 6rem ;
}

.main_profile_image{
    border-radius: 50%;
    width: 150px;
    height: 150px;;
}

.video_container{
    width: 100%;
    height: 400px;
    position: relative;
    padding: 20px 40px;
    margin: 15px 0;
}

.video{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

@media (max-width:992px) {
    .link{
        position: static;
        height: 100%;
        display: block;
    }    
    .link_content{
        margin: 20px auto 0;
        width:80%;
        position: static;
    }
    .link_images{
        position: static;
        width:80%;
        min-height: 50px;
        margin:auto;
        
    }
    .profile_image{
        /* margin:0 auto; */
        top:160px;
    }
    .main_profile_image{
        height: 120px;
        width: 120px;
        /* margin: auto; */
    }
    .video_container{
        padding:10px 15px;
        height: 300px;
    }
}


@media (min-width:1700px) {
    .video_container{
        height: 600px;
    }
    
}