 .chooosePasswordMaincontainerRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
 }

  .chooosePasswordMaincontainer div.tab-pane{
    background-color: #fff;
    border-radius: 3px;
  }
  .chooosePasswordMaincontainer div.mainLeftSideImage{
            /* background: url('../../../public/assets/images/loginImages/talathrivelogin.png');  */
            background-size: contain; 
            background-repeat: no-repeat;
             box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        }
       .chooosePasswordMaincontainer div.signupform2{
            padding: 0px;
        }
       .chooosePasswordMaincontainer .full-height {
            height: 100vh;
        }

        .chooosePasswordMaincontainer .bordered-list {
            border: 1px solid #ccc;
            padding: 20px;
            /* border-radius: 10px; */
        }


        .chooosePasswordMaincontainer button.choosePasswordMainButton{
            width: 100%;
            color: #FFF;
            font-family: Athletics;
            font-size: 18px !important;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            border-radius: 8px;
            background-color: #423B37 !important;
           height :48px;
           display: flex;
           justify-content: center;
           text-align: center;
           align-items: center;
        }
        .chooosePasswordMaincontainer button.choosePasswordMainButton:hover{
           background-color: #f68a40d6 !important;
        
        }
        .chooosePasswordMaincontainer button.choosePasswordMainButton:focus{
            background-color: #f68a40 !important;
         
         }

   
.chooosePasswordMaincontainer a.loginlink{
    color: #f68a40;
    text-decoration: none;
}

.chooosePasswordMaincontainer .custom-label {
    text-align: left;
}

.chooosePasswordMaincontainer .full-width-button {
    width: 100%;
}

.chooosePasswordMaincontainer .divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.chooosePasswordMaincontainer .divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #ccc;
}

.chooosePasswordMaincontainer .divider span {
    padding: 0 10px;
}
.chooosePasswordMaincontainer label.form-check-label a{
    color: #000 !important;
}
.chooosePasswordMaincontainer .password-toggle {
    position: relative;
}

.chooosePasswordMaincontainer .password-toggle .password-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #707070;
}
.chooosePasswordMaincontainer input.form-control{
    height: 60px;
    border-color: #D1C6B9 !important;
    margin-bottom: 4px;
}
.chooosePasswordMaincontainer .loginlinkMobile{
    text-align: center;
}
.chooosePasswordMaincontainer .loginlinkMobile a{
    text-decoration: none;
    color: #f68a40;

}
.chooosePasswordMaincontainer .loginlinkDesktop a{
    text-decoration: none;
    color: #f68a40;

}
.chooosePasswordMaincontainer p.mainDescription{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5px;
}
 
.chooosePasswordMaincontainer div.inputwidthmanage{
    width: 390px;
}
.chooosePasswordMaincontainer div a.forgotpasswordlink{
    float: right;
    margin-bottom: 10px;
    text-decoration: none;
    color: #807d78;

}
.AthleticsFont{
    font-family: 'Athletics', sans-serif;
    letter-spacing: 0.5px;

}
.OutfitFont{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}
.chooosePasswordMaincontainer .mainHeading{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    
}
.chooosePasswordMaincontainer input{
    font-size: 16px;
    font-weight: 300;
    height: 48px;
}

/* @media (min-width: 510px) and (max-width: 767px) {
    .chooosePasswordMaincontainer div.mainLeftSideImage{
        background-size: cover !important;
    }
}     */

.errors {
  color: #DE002C;
}

input.form-control.error-border {
  border: 1px solid #DE002C !important;
}

input.form-control.error-border::placeholder {
  color: #DE002C;
}

button[disabled] {
  background-color:  #ccc5bd !important; 
  color: white ;  
  cursor: not-allowed;
}

.edit_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.handle_input{
    display: flex;
     flex-direction: column;
     gap:5px
}

.handle_input input{
 padding-left:10px;
 padding-right:10px;
 /* width: 100%; */
}
